Repository My-Epitech-Organisation/Raytracer, pull requests merged in 2025-05, with the labels that each got.

#46 18 camera class ray generation
  src/core/Color.cpp
  src/core/Color.hpp
  src/scene/Camera.cpp
  src/scene/Camera.hpp
  tests/test_Camera.cpp
  tests/test_Color.cpp
Labels: component:core

#47 21 sphere primitive
  src/core/Color.cpp
  src/core/Matrix.cpp
  src/core/Matrix.hpp
  src/core/Ray.cpp
  src/core/Transform.cpp
  src/core/Transform.hpp
  src/core/Vector3D.cpp
  src/core/Vector3D.hpp
  src/scene/Camera.cpp
  src/scene/Camera.hpp
  src/scene/primitives/Sphere.cpp
  src/scene/primitives/Sphere.hpp
  test_format.cpp
  tests/CMakeLists.txt
  tests/test_Camera.cpp
  tests/test_Color.cpp
  tests/test_Sphere.cpp
  tests/test_Vector3D.cpp
Labels: component:core

#49 48 improve comment style indentation
  .clang-format
  include/ILight.hpp
  include/IPrimitive.hpp
  src/core/Matrix.hpp
  src/core/Ray.hpp
  src/core/Transform.hpp
  src/core/Vector3D.hpp
  src/scene/Camera.hpp
  tests/test_Sphere.cpp
  tests/test_Transform.cpp
Labels: type:chore, component:core

#45 [ADD] Config parser
  src/CMakeLists.txt
  src/scene/Resolution.cpp
  src/scene/Resolution.hpp
  src/scene/parser/SceneParser.cpp
  src/scene/parser/SceneParser.hpp
  tests/CMakeLists.txt
  tests/test_Resolution.cpp
  tests/test_SceneParser.cpp
Labels: component:parser

#57 Config parser
  src/scene/parser/SceneParser.cpp
  src/scene/parser/SceneParser.hpp
  tests/test_SceneParser.cpp
Labels: component:parser

#62 59 dynamic sfml rendering
  scenes/simple_demo_sphere.ppm
  src/display/SFMLDisplay.cpp
  src/display/SFMLDisplay.hpp
  src/main.cpp
Labels: component:display

#78 Add chessboard plane
  scenes/checkerboard_test.cfg
  scenes/checkerboard_test.ppm
  scenes/phong_lighting_test.ppm
  src/CMakeLists.txt
  src/scene/parser/SceneParser.cpp
  src/scene/primitives/CheckerboardPlane.cpp
  src/scene/primitives/CheckerboardPlane.hpp
  src/scene/primitives/Plane.cpp
  src/scene/primitives/Plane.hpp
  src/scene/primitives/PrimitiveFactory.cpp
  src/scene/primitives/PrimitiveFactory.hpp
Labels: component:display

#80 Update feature and ppm
  docs/FEATURES.md
  scenes/demo_checkerboard_shadow.ppm
  scenes/demo_cone.ppm
  scenes/demo_infinite_cylinder.ppm
  scenes/demo_limited_cylinder.ppm
  scenes/demo_triangle.ppm
  scenes/phong_lighting_test.ppm
  scenes/phong_point_lighting_night_shade.ppm
  scenes/simple_demo_sphere.ppm
  scenes/test_multiple_spheres.ppm
Labels: type:chore
